.bgBlue{
    background-color: blue;
    height: 200px;
}
.bgRed{
    background-color: red;
    height: 200px;
}



.bgGreen{
    background-color: green;
   
    height: 50;
    }
.bgRed1{
    background-color: red;  
    height: 50%;
}